@import "~bootstrap/scss/bootstrap";
$primary: #606060;
$secondary: #3c3556;
$light: #a6c5ff;

body {
    background-color: $secondary;
}
#waveform  {
    height: 100%;
    width: 100%;
    
}

#play-btn {
    background-color: #000;

}